body {
    background-color: #012A2D;
    color: #FFF9EB;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  input {
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
  }
  
  button {
    font-family: 'Lora', serif;
    background-color: #416562;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #334f4d;
  }
  
  #status {
    margin-top: 20px;
    font-style: italic;
  }
  